.header{
  background-color: #081b29;
  padding: 10px;
  justify-content: space-between;
}
nav{
  display: flex;
  justify-content: space-between;
  margin: 10px 200px;
}
.logo-right-navbar{
  font-weight: bold;
  color: white;
  padding-top: 10px;
  cursor: pointer;
}
.content-right-navbar a{
  margin: 30px;
  color: white;
  text-decoration: none;
}
.content-right-navbar a:hover{
  text-decoration: underline;
  text-decoration-color: aqua;
}
.content-right-navbar button{
  background: linear-gradient(90deg, hsla(176, 53%, 85%, 1) 0%, hsla(182, 93%, 68%, 1) 54%, hsla(227, 81%, 79%, 1) 81%);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
  padding: 12px 20px;
  cursor: pointer;
}