*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
video{
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  position: absolute;
  overflow: hidden;
  min-height: 500px;
}
.wrapper h4, h1{
  position: relative;
  color: white;
  top: 150px;
  left: 210px;
  padding-top: 20px;
  padding-bottom: 0px;
}
.search-wrapper{
  background-color: white;
  width: 80vw;
  height: 15vh;
  position: relative;
  top: 170px; 
  border-radius: 10px;
  margin: auto;
  display: flex;
  justify-content:space-around;
}
.search-wrapper p{
  font-size: 17px;
  color: gray;
  margin: 20px 0px;
}
input, select{
  border-radius: 10px;
  border: none;
  background-color: rgb(215, 219, 223);
  padding: 10px;
  margin: auto;
  width: 300px;
  
}