*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 10px;
}
.logo{
  font-weight: bold;
  align-items: center;
}
.right-navbar a{
  margin: 30px;
  color: black;
  text-decoration: none;
}
.right-nav a:hover{
  text-decoration: underline;
  text-decoration-color: aqua;
}
.right-navbar button{
  background: linear-gradient(90deg, hsla(176, 53%, 85%, 1) 0%, hsla(182, 93%, 68%, 1) 54%, hsla(227, 81%, 79%, 1) 81%);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 20px;
  padding: 12px 20px;
  cursor: pointer;
}
video{
  width: 100%;
  height: 60vh;
  object-fit: cover;
  position: absolute;
  overflow: hidden;
  min-height: 500px;
}
.wrapper h4, h1{
  position: relative;
  color: white;
  top: 150px;
  left: 210px;
  padding-top: 20px;
  padding-bottom: 0px;
}
.search-wrapper{
  background-color: white;
  width: 80%;
  height: 15vh;
  position: relative;
  top: 170px; 
  border-radius: 10px;
  margin: auto;
  display: flex;
  justify-content:space-around;
}
.search-wrapper p{
  font-size: 17px;
  color: gray;
  margin: 20px 0px;
}
input, select{
  border-radius: 10px;
  border: none;
  background-color: rgb(215, 219, 223);
  padding: 10px;
  margin: auto;
  width: 300px;
  
}